main {
    display: flex;
    flex-direction: column;
    margin: 90px 120px;
    gap: 80px;
}

/* STYLE DE LA SECTION HERO */
/* ---------------------------------------------------------------------------------------------------------------- */
.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.part-left {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titre-hero {
    font-size: 35px;
    text-transform: uppercase;
} 

.sous-titre-hero {
    color: #555555;
}

.btn-voir-formation {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 15px;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 6px;
    padding: 10px 35px;
    cursor: pointer;
}

.div-CTA {
    display: flex;
    gap: 10px;
}
/* ---------------------------------------------------------------------------------------------------------------- */


/* STYLE DE LA SECTION STATISTIQUES */
/* ---------------------------------------------------------------------------------------------------------------- */
.statistic-section {
    display: flex;
}

.statistic-card {
    padding: 50px 80px;
    background-color: #f5f5f5;
    border: 1px solid #dddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
}

.titre-card {
    font-weight: bold;
}

.sous-titre-card {
    font-size: 14px;
    color: #555555;
}
/* ---------------------------------------------------------------------------------------------------------------- */


/* STYLE DE LA SECTION FORMATIONS */
/* ---------------------------------------------------------------------------------------------------------------- */
.formation-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: 35px;
}

.titre-formation {
    font-weight: bold;
    font-size: 28px;
}

.sous-titre-formation {
    font-size: 16px;
}

.formation-cards-container {
    display: flex;
    width: 100%;
    gap: 20px;
}

.formation-card {
    padding: 50px 80px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.titre-card-formation {
    font-size: 12px;
    font-weight: 700;
}
/* ---------------------------------------------------------------------------------------------------------------- */